// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

p.admonitionDamageHeader
{
  background-color: #b7010120;
  border-left: solid 3px #b70101;
  background-image: url(/notes/images/Check.png);
  background-position: 9px 16px;
  background-repeat: no-repeat;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 35px;
  color: var(--dark) !important;
  font-weight: bold;
  box-shadow: 2px 4px 5px black;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 6px;

}

p.admonitionDamageBody{
  background-color: #19191b;
  border-left: solid 3px #b70101;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 35px;
  box-shadow: 2px 4px 5px black;
  margin-top: 0px;
  margin-bottom: 1em;
  border-bottom-right-radius: 6px;

}

p.admonitionEnrageHeader
{
  background-color: #ffff0020;
  border-left: solid 3px #ff0;
  background-image: url(/notes/images/Warning-Message-16.png);
  background-position: 9px 16px;
  background-repeat: no-repeat;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 35px;
  color: var(--dark) !important;
  font-weight: bold;
  box-shadow: 2px 4px 5px black;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 6px;
}

p.admonitionEnrageBody{
  background-color: #19191b;
  border-left: solid 3px #ff0;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 35px;
  box-shadow: 2px 4px 5px black;
  margin-top: 0px;
  margin-bottom: 1em;
  border-bottom-right-radius: 6px;
}

div.admonitionDiv{
  width: fit-content;
  min-width: 30%;
  margin: 1em 0;
}

h4{
  text-align: center;
}